@using Microsoft.AspNetCore.Identity
@using FANCY_CLOTHES_MANAGEMENT.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

        var user = await UserManager.GetUserAsync(User);
        if (User.IsInRole("Merchant"))
        {
            <a class="btn btn-primary" href="/MerchantDashboard">Go to Merchant Dashboard</a>
        }
        else if (User.IsInRole("Customer"))
        {
            <a class="btn btn-primary" href="/DashboardCustomer">Go to Customer Dashboard</a>
        }
}    