@page
@model FANCY_CLOTHES_MANAGEMENT.Pages.UserModel
@{
}


<h2 class="text-center"> ITS ALWAYS AN HONOR TO WELCOME YOU TO YOUR ACCOUNT </h2>


<div> 
    First Name= @Model.appUser?.FirstName
</div>

<div>
    Last Name= @Model.appUser?.LastName
</div>

<div>
    Email= @Model.appUser?.Email
</div>

<div>
    Phone Number= @Model.appUser?.PhoneNumber
</div>